.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .exportToXlsx {
    border: 3px solid green;
    border-radius: 3px;
    background-color: green;
  }
}